@import "tailwindcss";

@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Sora", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Sora", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #0f172a;
}
body { overflow-x: hidden; } 
